/*Will add variable here once I get futher along*/


* {

    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    padding: 2px;
    font-family: sans-serif;
    font-weight: 300;
    line-height: 1.5;
    background-color: #d8dddf;
}
/*body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }*/

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #182735;
    color: #fff;
    padding: 10px;
}

header h1 {

    text-align: center;
    padding-bottom: 50px;
    border: solid;
    border-color: #0eaaaf;
    background: #0eaaaf;

}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    min-width: 300px;
    padding: 40px 5px;
}

nav a {

    color: #fff;
}

#about-me, #work {

    display: inline-flex;
    width: 102%;

}


#aside-1 {
    display: flex;
    width: 50%;
    flex: 30%;
    background-color: #d8dddf;
    padding: 20px;
    height: 300px;
    border-right: 5px solid #0eaaaf;
}

#aside-2 {

    display: flex;
    width: 563px;
    background-color: #d8dddf;
    padding: 20px;
    height: 466px;
    border-right: 5px solid #0eaaaf;
}

/*main {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 25px;
    background-color: #d8dddf;

}*/



h2 {
    text-align: center;
    font-size: 40px;
}

h3{
    text-align: center;
}

p {
    display: inline-flex;
    text-align: center;
}

.profile-pic {

    width: 50%;
    border-radius: 50%;


}



.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img-1 {
    border: 1px solid #0eaaaf;
    width: 75%;
    height: 400px;

}


.images {
    flex: 0 0 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    height: 150px;
}



footer {

    display: flex;

}


footer a {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    min-width: 300px;
    color: #0eaaaf;

}

@media screen and (max-width: 768px) {

    header,
    body,
    #aside-1,
    #aside-2,
    .images {
        flex-direction: column;
    }

}