/*Will add variable here once I get futher along*/


* {

    box-sizing: border-box;
}

body {
    padding: 2px;
    font-family: sans-serif;
    font-weight: 300;
    line-height: 1.5;
    background-color: #d8dddf;
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #182735;
    color: #fff;
    padding: 10px;
}

header h1 {

    text-align: center;
    padding-bottom: 50px;
    border: solid;
    border-color: #0eaaaf;
    background: #0eaaaf;

}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    min-width: 300px;
    padding: 40px 5px;
}

nav a {

    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    background-color: #d8dddf;

}

section {
    display: inline-flex;
    width: 102%;
}

aside {
    display: flex;
    width: 50%;
    flex: 30%;
    background-color: #d8dddf;
    padding: 20px;
    height: 300px;
    border-right: 5px solid #0eaaaf;
}

h2 {
    text-align: center;
    font-size: 40px;
}

p {
    display: inline-flex;
    text-align: center;
}

.profile-pic {

    width: 50%;
    border-radius: 50%;


}

/*main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    background-color: #d8dddf;
}*/



/*aside {
    flex: 30%;
    background-color: #d8dddf;
    padding: 20px;
    flex-wrap: wrap;

} */



/*section {
    flex: 70%;
    background-color: #d8dddf;
    padding: 20px;
} */

.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img-1 {
    border: 1px solid #0eaaaf;
    width: 75%;
    height: 400px;

}

.images {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



footer {

    display: flex;

}


footer a {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    min-width: 300px;
    color: #0eaaaf;

}

@media screen and (max-width: 992px) {

    header,
    main {
        flex-wrap: wrap;
    }

}